nextflow.enable.dsl=2

// DEFAULT PARAMETERS 
params {
    pipeline_version  = "1.0.0a"
    run_id            = 
    genome            = "$baseDir/data/reference"
    reads             = "$baseDir/inputs/reads"
    make_index        = false
    make_fai          = true
    make_ref_dict     = true
    make_annot_dict   = true
    reference_version = 38
    index             = "$baseDir/data/reference/hg${params.reference_version}"
    bed_bait          = "$baseDir/data/bed/neuro-oncov2_capture_targets.bed"
    bed_exon          = "$baseDir/data/bed/neuro-oncov2_primary_targets.bed"
    bed_hotspots      = "$baseDir/data/bed/BrainCap_primary_targets.bed"
    picard            = "$baseDir/tools/picard.jar"
    gatk              = "$baseDir/tools/gatk-package-4.2.6.1-local.jar"
    dbsnp             = "$baseDir/data/variation/homo_sapiens_somatic.vcf"
    varscan           = "$baseDir/tools/VarScan.v2.3.9.jar"
    results           = "$baseDir/results"
    help              = false
}


profiles {
    normal {
        executor {
            $local {
                cpus = 8
            }
        }
    }
    
    fast {
        executor {
            $local {
                cpus = 16
            }
        }
    }
}