nextflow.enable.dsl=2

// DEFAULT PARAMETERS 
params {
    bcl               = "$baseDir/inputs/bcl"
    samplesheet       = "$baseDir/inputs/bcl/*csv"
    bcl2fastq_image   = "$baseDir/data/containers/bcl2fastq_docker.sif"
    genome            = "$baseDir/data/reference"
    make_index        = false
    make_fai          = true
    make_dictionnary  = true
    reference_version = 19
    index             = "$baseDir/data/reference/hg${params.reference_version}"
    reads             = "$baseDir/inputs/reads"
    bed_hemato        = "$baseDir/data/bed/SureSelect-HEMATO-v7_UBA1.bed"
    bed_exon          = "$baseDir/data/bed/DESIGN-FH-EXONS-gene_panel.bed"
    picard            = "$baseDir/tools/picard.jar"
    gatk              = "$baseDir/tools/gatk-package-4.2.6.1-local.jar"
    report_rscript    = "$baseDir/tools/R_Quality_SMPHD.Rmd"
    dbsnp             = "$baseDir/data/reference/dbsnp"
    annovar           = "$baseDir/data/tools/annovar"
    humandb           = ""
    python_vcf_to_csv = "$baseDir/data/tools/VCF-Simplify.py"
    bed_pindel        = "$baseDir/data/bed/Pindel_search_CALR-9_FLT3-14-15.bed"
    varscan           = "$baseDir/tools/VarScan.v2.3.9.jar"
    python_annot      = "$baseDir/tools/annotation_process.py"
    python_dict       = "$baseDir/tools/database_dictionnary.py"
    python_iarc       = "$baseDir/tools/dvt_database_IARC.py"
    results           = "$baseDir/results"
    help              = false
}


profiles {
    normal {
        process.cpus = 4
    }

    fast {
        process.cpus = 8
    }

    urgent {
        process.cpus = 46
    }
}