nextflow.enable.dsl=2

// DEFAULT PARAMETERS 
params {
    pipeline_version  = "1.0.0a"
    run_id            = 
    genome            = "$baseDir/data/reference"
    reads             = "$baseDir/inputs/reads"
    make_index        = false
    make_fai          = true
    make_ref_dict     = true
    make_annot_dict   = true
    reference_version = 19
    index             = "$baseDir/data/reference/hg${params.reference_version}"
    bed_bait          = "$baseDir/data/bed/SureSelect-HEMATO-v7_UBA1.bed"
    bed_exon          = "$baseDir/data/bed/DESIGN-FH-EXONS-gene_panel.bed"
    bed_pindel        = "$baseDir/data/bed/Pindel_search_CALR-9_FLT3-14-15.bed"
    picard            = "$baseDir/tools/picard.jar"
    gatk              = "$baseDir/tools/gatk-package-4.2.6.1-local.jar"
    dbsnp             = "$baseDir/data/variation/homo_sapiens_somatic.vcf"
    pindel            = "$baseDir/tools/pindel"
    varscan           = "$baseDir/tools/VarScan.v2.3.9.jar"
    annovar           = "$baseDir/tools/annovar"
    humandb_annovar   = "$baseDir/tools/annovar/humandb_annovar"
    python_vcf_to_csv = "$baseDir/tools/VCF-Simplify.py"
    python_annot      = "$baseDir/tools/annotation_process.py"
    python_dict       = "$baseDir/tools/database_dictionnary.py"
    python_iarc       = "$baseDir/tools/dvt_database_IARC.py"
    transcript_base   = "$baseDir/data/dictionary/Liste_genes_transcript_26_01_21.csv"
	artefact_base     = "$baseDir/data/dictionary/Base_artefact_120220.csv"
    annotation_dict   = "$baseDir/data/dictionary/variant_dictionnary_routine_v${pipeline_version}.json"
    results           = "$baseDir/results"
    help              = false
}


profiles {
    normal {
        executor {
            $local {
                cpus = 8
            }
        }
    }
    
    fast {
        executor {
            $local {
                cpus = 16
            }
        }
    }
}